* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Segoe UI, Segoe WP, Arial, Sans-Serif, serif;
}

:root {
    --theme-color: rgba(177, 203, 228, 1);
    --white-color: rgb(238, 238, 238);
    --gray: rgb(229, 229, 229);
}