.dayNight {
    padding: 16px;
    width: 100%;
    height: 100%;
}

.title {
    cursor: pointer;
    font-weight: bold;
}

.title:hover {
    text-decoration: underline;
}

.title i {
    font-size: 14px;
    margin-left: 8px;
}

.weather {
    display: flex;
    gap: 8px;
    margin-top: 16px;
}

.weather_icon {
    width: 60px;
}

.weather_time {
    font-size: 14px;
    color: var(--gray);
}

.weather_instruction {
    font-size: 14px;
}